* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9DFDC;
    font-family: 'Roboto Flex', sans-serif;
}


*::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(53, 51, 51);
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(4, 87, 165);
}